@media screen and (max-width: 740px)  {
    .hoot-App-header
    {
       flex-direction: column;
    }
}

.hoot-App-header
{
   background-color: var(--secondary);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 calc(8px + 1.5625vw);
   gap: calc(8px + 1.5625vw);
}

.hoot-App-header h2
{
   color: var(--primary-dark);
}

.hoot-container-body
{
   display: flex;
   flex-direction: row;
   background-color: var(--third);
   min-height: 90vh;
}

.hoot-container-right
{
   height: 10vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: calc(8px + 1.5625vw);
}

.hoot-circle
{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background-color: rgba(0, 0, 0, 0.10);
   padding: 8px;
}

.hoot-profile
{
   width: 100%;
}

.hoot-label
{
   font-size: calc(9px + 1.5vmin);
   color: var(--white);
}

.hoot-amount
{
   background-color: rgb(61, 112, 76);
   color: var(--white);
   font-size: calc(9px + 1.5vmin);
   padding: 1vmin 2vmin;
   border-radius: 10px;
   margin-left: 2vmin;
}

.hoot-menu
{
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--primary);
   gap: 20px;
}
