.card-task
{
    display: flex;
    flex-direction: row;
    gap: 1.5vh;
    border: 1px solid var(--primary);
    border-radius: 1vh;
    padding: 1vh;
    align-items: center;
    width: 100%;
    margin: 3px;
    cursor: pointer;
    composes: button;
    position: relative;
}

.card-task:after
{
    content: '';
    background-color: rgba(112, 76, 182, 0.15);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: width 0.3s linear, opacity 0.5s ease 0.3s;
}

.card-task:active:after
{
    width: 0%;
    opacity: 1;
    transition: 0s;
}

.name
{
    width: 30%;
    font-size: calc(9px + 1.5vmin);
    text-align: center;
    align-self: center;
}

.message
{
    padding-top: 7px;
}