:root
{
    --white: #fff;
    --black: #1a1d24;
    --primary: #586994;
    --primary-dark: #3b455f;
    --secondary: #7d869c;
    --third: #bac9db;
}

body
{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
